body {
    margin: 0;
}

.main {
    background-color: #F6E6CB; /* Color de fondo de la paguina*/
}

.carousel {
    height: 50vh; /* Altura del section donde se encuentra el carousel */
    display: flex; /*  */
    align-items: center; /*  */
    margin-bottom: 10px;
}

.carousel-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px 0px 20px 0px;
}

.carousel-item {
    min-width: 400px;
    max-width: 400px;
    height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;;
}

.carousel-item:hover {
    transform: scale(1.2);
}

.map {
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.pie-pagina{
    width: 100%;
    background-color: #A0937D;
}


.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    padding: 30px 0px; 
}


.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 15px;
}

.map-container {
    background-color: #E7D4B5;
    width: 60%;
    border: 2px solid black;
    overflow: hidden;
}

.map-title {
    margin:12px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.map-iframe {
    width: 100%;
    border-width: 0px;
    border-color: black;
}

.card-place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 15px;
}

.card-container {
    display: flex; /* Establesco que es un contenedor flex */
    flex-direction: row; /* Establesco la direccion del flex */
    width: 80%;

}

.card-title {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.card-item {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    background-color: #E7D4B5;
    border: 2px solid black;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-image-container {
    margin: 4px;
}


.pie-pagina .grupo-1 .box figure img{
    width: 220px;
}


.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
}

.pie-pagina .grupo-1 .box p{
    color: #fff;
    margin-bottom: 3px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}



.pie-pagina .grupo-1 .redes-sociales{
    display: flex;
    justify-content: center;
}


.pie-pagina .grupo-1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    background-color: #887d6a;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}


.pie-pagina .grupo-1 .redes-sociales a:hover{
    transform: scale(1.1);
}


.pie-pagina .grupo-2{
    color:  #A0937D;
    background-color: #E7D4B5;
    padding: 3px 5px;
    text-align: center;
}

@media screen and (max-width: 800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        padding: 20px 0px; 
    }
}