/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: rgb(230, 151, 5);
  color: white;
  height: 8vh;
} 

nav .links {
  display: flex;
}

.links p a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
    padding: 0px;
    margin: 0px;
    transition: 0.5 s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 30px 30px;
    background-color: #A0937D;
    color: white;
    height: 20vh;
  }
  nav .links {
    display: flex;
  }

  nav .logo img {
    height: 50px;
    display: block;
}

  
  .links p a {
    padding: 10px;
    color: #fff;
    text-decoration: none;

}

#mobile-menu-btn {
  display: none;
}

.mobile-menu {
  color: white;
  display: none;
  position: absolute;
  right: 0;
  height: 60vh;
  width: 60vw;
  background-color: rgb(230, 151, 5);
}


@media (max-width: 600px) {
  #mobile-menu-btn {
    display: block;
  }

  nav p a {
    display: none;
    color: #fff;
    text-decoration: none;

  }
  }
  #mobile-menu-btn {
    display: none;
  }
  .mobile-menu  {
    color: white;
    display: none;
    position: absolute;
    right: 0;
    height: 60vh;
    width: 60vw;
    background-color: #A0937D;
  }
    
  
  @media (max-width: 600px) {
    #mobile-menu-btn {
      display: block;
    }
    nav p a {
      display: none;
      color: #fff;
      text-decoration: none;
      
     }

    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .mobile-menu a {
        color: #fff;
      text-decoration: none;
    }
    } /* fin media */ /*
  .mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .mobile-menu a {
    color: #fff;
    text-decoration: none;
  }
}

*/
  
   
    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-sizing: border-box; 
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical  
      }
      input[type=email] {
        width: 100%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-sizing: border-box; 
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical  
      }  
      
      input[type=submit] {
        background-color:  #A0937D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      } 



input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #ce910e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

